.body{
    width: auto;
    height: auto;
    margin: 24px 20px;
}

.left-section {

}

.left-first-section{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.item-infor{
    width: auto;
    height: auto;
    background-color: rgb(10, 93, 10);
}