:root {
  --primary_background: linear-gradient(
    to right,
    rgb(113, 240, 168),
    rgb(60, 236, 113)
  );
  --primaryDeep_background: linear-gradient(
    to right,
    rgb(194, 233, 88),
    rgb(162, 210, 40)
  );
  --primary: rgb(9, 186, 9);
  --primaryText: rgb(84, 14, 101);
  --primaryButton: linear-gradient(
    to right,
    rgb(113, 240, 168),
    rgb(60, 236, 113)
  );
}
