# Default ignored files
/shelf/
/workspace.xml
/venv

# Python cache files
__pycache__/
*.pyc
*.pyo

# TensorBoard logs
tensorboard/

# Trained models
trained_models/

# IDE-specific files
.idea/
*.iml

# Temporary files
*.tmp
*.log
*.bak
*.swp
.DS_Store
Thumbs.db

